{% extends 'layout/layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="card wizard-card" data-color="red" id="wizard">
    <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->

    <div class="wizard-header">
        <h3 class="wizard-title">
            Ormuco Technical Test
        </h3>
    </div>
    <div class="wizard-navigation">
        <ul>
            <li><a href="#form" data-toggle="tab">Form</a></li>
            <li><a href="#records" data-toggle="tab">Records</a></li>
            <li><a href="#about" data-toggle="tab">About Me</a></li>
            <li><a href="#doc" data-toggle="tab">Docs</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane" id="form">
            <form action="" method="POST">
                {% if isOk %}

                <div class="alert alert-success" role="alert">
                    <div class="alert-icon">
                        <i class="material-icons">thumb_up</i>
                    </div>
                    <strong>Well done!</strong> {{isOk}}.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="material-icons">close</i>
                            </span>
                    </button>
                </div>

                {% endif %}

                {% if error %}


                <div class="alert alert-danger" role="alert">
                    <div class="alert-icon">
                        <i class="material-icons">error</i>
                    </div>
                    <strong>Error!</strong> {{error}}.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="material-icons">close</i>
                            </span>
                    </button>
                </div>

                {% endif %}
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">face</i>
													</span>
                            <div class="form-group label-floating">
                                <label for="name" class="control-label">Your Name</label>
                                <input name="name" id="name" type="text" class="form-control">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">palette</i>
													</span>
                            <div class="form-group label-floating">
                                <label for="color" class="control-label">Your Favorite Color</label>
                                <input name="color" id="color" type="text" class="form-control">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="input-group">
                            <span class="input-group-addon">
														<i class="material-icons">pets</i>
													</span>
                            <div class="form-group label-floating">
                                <label for="pet" class="control-label">Pet</label>
                                <select id="pet" name="pet" class="form-control">
                                    <option value="Dog">Dog</option>
                                    <option value="Cat">Cat</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <button class="btn btn-success"><i class="material-icons">save</i> Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="records">
            <div class="row">
                <div class="col-xs-12">
                </div>
                <div class="col-sm-8 col-sm-offset-2">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="">
                            <th class="text-center text-danger">Name</th>
                            <th class="text-center text-danger">Favorite Color</th>
                            <th class="text-center text-danger">Pet</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                        <tr>
                            <td class="text-center"><strong>{{user.name}}</strong></td>
                            <td class="text-center">{{user.color}}</td>
                            <td class="text-center">{{user.pet}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="about">
            <div class="row">
                <h4 class="info-text">Fredy Mendoza Vargas.</h4>
                <p class="info-text text-muted"><em>Systems Engineer/ Developer / Passionate / Responsible</em></h5>
                    <div class="col-sm-6 col-sm-offset-1">
                        <div class="form-group">
                            <label>Professional extract:</label>
                <p class="description text-justify">
                    Systems Engineer at Universidad Tecnológica de Bolívar, with skills to perform at an
                    interdisciplinary level in administrative, technical and social field. With experience in
                    development of WEB applications, mobiles, analysis, design and implementation thereof; Knowledge in:
                    Python, LINUX, PHP, C #, Node JS, JavaScripts, AngularJS, MongoDB, MySQL, JAVA.
                </p>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <p class="description text-justify">Capability to work in teams or individually, improvise and deal with
                    the unknown,
                    excellent interpersonal relationships. High degree of responsibility, willingness to learn and easy
                    to adapt.</p>

            </div>
        </div>
    </div>
</div>
<div class="tab-pane" id="doc">
    <div class="row">
        <h4 class="info-text"> View small description.</h4>
        <div class="col-sm-6">
            <div class="col-sm-6 col-sm-offset-3">
                <a href="https://github.com/fremeva/ormuco-flask-app.git" target="_blank">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip"
                         title="View Simple App Code">
                        <input type="radio" value="Design">
                        <div class="icon">
                            <i class="material-icons">code</i>
                        </div>
                        <h6>Simple Flask Web Apps</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6 col-sm-offset-3">
                <a href="https://github.com/fremeva/ormuco-ansible-project.git" target="_blank">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip"
                         title="View & clone to Ansible playbook project">
                        <input type="radio" value="Design">
                        <div class="icon">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </div>
                        <h6>Ansible Playbook Repository</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{%endblock%}